<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>あなただけのDairy</title>
</head>
<body>
<h3>ここはあなただけの秘密の空間</h3>
<h4>今日の嫌なことすべて吐き出しちゃいなよ</h4>
<div>
		<table>
			<tr>
				<th>タイトル</th>
				<th>削除</th>
				<th></th>
			</tr>
			<th:block th:each="diarys : ${diarys}">
			<tr>
				<th><a th:href="@{/detail/{id}(id=${diarys.id})}"> <th:block th:text="${diarys.title}"></th:block></a></th>	
				<th>
					<form th:action="@{/delete/{id}(id=${diarys.id})}" th:method="delete">
						<input type="submit" value="削除" class="delete" >
					</form>
				</th>
				<th>
					<a th:href="@{/edit/{id}(id=${diarys.id})}">
						<button	type="button" class="btn btn-link">編集</button> 
					</a>
				</th>
			</tr>
			</th:block>
		</table>
	</th:block>
</div>


<div>
	<form th:action="@{/postDiary}" th:object="${loginUser}" method="post">
		<table>
			<tr>
				<th>タイトル</th>
				<td>
					<input type="text" name="title">
				</td>
			</tr>
			<tr>
				<th>内容</th>
				<td>
					<input type="text" name="content">
				</td>
			</tr>
			<!-- <tr hidden>
				<th>タイトル</th>
				<td>
					<input type="text" name="user_id" th:value="${loginUser.userId}">
				</td>
			</tr> -->
		</table>
		<input type="submit" value="投稿" />
	</form>
</div>


</body>
</html>